body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4; 
  color: #002855; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #002855;
}

a {
  color: #0071CE;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}